.content {
	height: 5000px;
}

.popup {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
    margin: auto; 
	background: #fff;
	z-index: 10;
}

.text_area {
	padding: 50px 30px 30px;
	text-align: center
}

.btn_area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	overflow: hidden; /*float 해제*/
}


.btn {
	text-align:center;
	float: left;
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border: 0;
	background: pink;
}

.popup_dimmed {
	position: absolute; /*띄워줌*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.1; /*밝기 조절*/
	pointer-events:none;
}

.floor{
	max-width:700px;
}