{% extends 'layout.html' %}
{% block title %}정보 수정 - {% endblock %}

{% block contents %}
    <h1>정보 수정</h1>
    <!-- 경고 메시지 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script type="text/javascript">
        alert("{{messages[-1]}}");
      </script>
      {% endif %}
    {% endwith %}
    <form method="post" action="config">
        <div>
            <label for="name" > 이름 </label>
            <input type="text" name="name" id = "name" value='{{name}}'>
        </div>
        <div>
            <label for="num" > 학번 </label>
            <input type = "number" name="num" id = "num" value='{{num}}'>
        </div>
        <div>
            <label for="generation" > 기수 </label>
            <input type = "number" name="generation" id = "generation" value='{{generation}}'>
        </div>
        <div>
            <label for="ID" > ID </label>
            <input type = "text" name="ID" id = "ID" value='{{nickname}}'>
        </div>
        <div>
            <label for="newPW" > New PassWord </label>
            <input type = "password" name="new password" id = "newPW">
        </div>
        <div>
            <label for="renewPW" > reNew PassWord </label>
            <input type = "password" name="renew password" id = "renewPW">
        </div>
        <div>
            <label for="nowPW" > Now PassWord </label>
            <input type = "password" name="now password" id = "nowPW">
        </div>
        <div>
            <input type="submit" id="login button" name="button" value="Config">
        </div>
    </form>
{% endblock %}