<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script type="text/javascript">
        alert("{{messages[-1]}}");
      </script>
      {% endif %}
    {% endwith %}
</head>
<body>
{% extends 'layout.html' %}

{% block contents %}
    {% if nickname %}
        <p>{{name}}! Hello World!</p>
    {% else %}
        <p>Hello World!</p>
    {% endif %}
{% endblock %}