{% extends 'layout.html' %}
{% block layout %}
  <h1><a href="/student">학생</a></h1>
    {% if name %}
    <form method="post" action="/student/signout">
        <P><input type="submit" value="Logout"/></P>
    </form>
    <a href="/student/config">config</a>
    {% else %}
    <a href="/student/login">로그인</a>
    <a href="/student/signup">회원가입</a>
    {% endif %}
    <a href="/student/apply">활승 신청</a>
    
    <a href="/student">홈 화면</a>
    {% if 'admin' in session %}
    <a href="/admin">관리자 페이지</a>
    {% endif %}
{% endblock %}
