{% extends 'layout.html' %}
{% block title %}로그인 - {% endblock %}

{% block contents %}
    <div>
        <form method="post" action="login">
            <div>
                <label for="ID" > ID </label>
                <input type="text" name="ID" id = "ID">
            </div>
            <div>
                <label for="PW" > PassWord </label>
                <input type = "password" name="password" id = "PW">
            </div>
            <div>
                <input type="submit" id="login button" name="button" value="Login">
            </div>
        </form>
    </div>
    <div>
        <a href="signup">sign up</a>
    </div>
</body>
</html>
{% endblock %}