<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 목록</title>
    <style>
        td, th {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <table>
            <thead>
                <tr>
                    <th colspan="5">학생 목록</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>이름</td>
                    <td>학번</td>
                    <td>기수</td>
                    <td>ID</td>
                    <td>삭제</td>
                </tr>
                {% for student in student_list %}
                    <tr>
                        <td>{{ student['name'] }}</td>
                        <td>{{ student['num'] }}</td>
                        <td>{{ student['generation'] }}</td>
                        <td>{{ student['nickname'] }}</td>
                        <td>
                            <form action="/admin/student/delete" method="POST" >
                                <input type="hidden" name="id" value="{{ student['id'] }}">
                                <input type="submit" value="삭제">
                            </form>
                        </td>
                    </tr>   
                {% endfor %}
            </tbody>
    </table>
</body>
</html>