{% extends 'admin/layout.html' %}
{% block title %}학생 토큰 발급 - {% endblock %}

{% block contents %}
    <div>
        <form method="post" action="/admin/student/token">
            <div>   
                <label for="generation"> 기수 </label>
                <input type="number" name="generation" id="generation">
            </div>
            <div>
                <label for="num"> 학번 </label>
                <input type="number" name="num" id="num">
            </div>
            <div>
                <input type="submit" id="tokenissuebutton" name="button" value="토큰 발급">
            </div>
        </form>
    </div>
{% endblock %}