{% extends 'admin/layout.html' %}
{% block title %}학생 토큰 목록 - {% endblock %}

{% block contents %}
    <table border=1>
            <thead>
                <tr>
                    <th colspan="4">학생 토큰 목록</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>학번</td>
                    <td>기수</td>
                    <td>토큰</td>
                    <td>삭제</td>
                </tr>
                {% for student in student_token_list %}
                    <tr>
                        <td>{{ student['num'] }}</td>
                        <td>{{ student['generation'] }}</td>
                        <td>{{ student['token'] }}</td>
                        <td>
                            <form action="/admin/student/token/delete" method="POST" >
                                <input type="hidden" name="id" value="{{ student['id'] }}">
                                <input type="submit" value="삭제">
                            </form>
                        </td>
                    </tr>   
                {% endfor %}
            </tbody>
    </table>
{% endblock %}