{% extends 'teacher/layout.html' %}
{% block title %}회원가입 - {% endblock %}

{% block contents %}
<div>
    <h1>교사용 회원 가입</h1>
</div>
<div>
    <form method="post" action="/teacher/signup">
        <div>
            <label for="name" > 이름 </label>
            <input type="text" name="name" id = "name">
        </div>
        <div>
            <label for="nickname" > ID </label>
            <input type = "text" name="nickname" id = "nickname">
        </div>
        <div>
            <label for="PW" > PassWord </label>
            <input type = "password" name="PW" id = "PW">
        </div>
        <div>
            <label for="token">토큰</label>
            <input type="number" name="token" id="token">
        </div>
        <div>
            <input type="submit" id="signup_button" name="button" value="Sign Up">
        </div>
    </form>
</div>
{% endblock %}