{% extends 'teacher/layout.html' %}
{% block title %}회원가입 - {% endblock %}

{% block contents %}
<div>
    <h1>교사용 회원 가입</h1>
</div>
<div>
    <form method="post" action="/teacher/signup">
        <div>
            <label for="name" > 이름 </label>
            <input type="text" name="name" id = "name">
        </div>
        <div>
            <label for="nickname" > ID </label>
            <input type = "text" name="nickname" id = "nickname">
        </div>
        <div>
            <label for="PW" > PassWord </label>
            <input type = "password" name="PW" id = "PW">
        </div>
        <div>
            <label for="subject"> 담당 교과 </label>
          <select name="subject" id="subject">
            <option value="1">수학</option>
            <option value="2">물리</option>
            <option value="3">화학</option>
            <option value="4">생물</option>
            <option value="5">지구과학</option>
            <option value="6">정보</option>
            <option value="7">영어</option>
            <option value="8">국어</option>
            <option value="9">한국사</option>
            <option value="10">사회</option>
            <option value="11">일본어</option>
            <option value="12">체육</option>
            <option value="13">음악</option>
          </select>
        </div>
        <div>
            <label for="token">토큰</label>
            <input type="number" name="token" id="token">
        </div>
        <div>
            <input type="submit" id="signup_button" name="button" value="Sign Up">
        </div>
    </form>
</div>
{% endblock %}