<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}온라인 활승</title>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <script type="text/javascript">
            alert("{{messages[-1]}}");
          </script>
          {% endif %}
        {% endwith %}
        <link rel="stylesheet" href="/static/stylesheets/layout.css">
        <link rel="stylesheet" href="/static/stylesheets/{% block css %}{% endblock %}.css">
        <link rel="stylesheet" href="/static/stylesheets/popup.css">
    </head>
<body>
    <style>
        td, th {
            border: 1px solid black;
        }
    </style>
    <table border=1>
            <thead>
                <tr>
                    <th colspan="6">활동 승인 목록</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">승인된 활승</th>
                    <th colspan="2">거부된 활승</th>
                    <th colspan="2">미확인된 활승</th>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>활동 날짜</td>
                    <td>이름</td>
                    <td>활동 날짜</td>
                    <td>이름</td>
                    <td>활동 날짜</td>
                </tr>
                {% for i in range(l) %}
                    <tr>
                        {% if i <= len_allowed-1 %}
                            <td>{{ allowed_apply_list[i]['name'] }}</td>
                            <td>{{ allowed_apply_list[i]['req_date'] }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
        
                        {% if i <= len_rejected-1 %}
                            <td>{{ rejected_apply_list[i]['name'] }}</td>
                            <td>{{ rejected_apply_list[i]['req_date'] }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}

                        {% if i <= len_not_confirmed-1 %}
                            <td>{{ not_confirmed_apply_list[i]['name'] }}</td>
                            <td>{{ not_confirmed_apply_list[i]['req_date'] }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</body>
</html>