<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script type="text/javascript">
        alert("{{messages[-1]}}");
      </script>
      {% endif %}
    {% endwith %}
</head>
<body>
    <a href="student/login">로그인</a>
    <a href="student/signup">회원가입</a>
    <a href="admin">관리자 페이지</a>
    {% if nickname %}
        <p>{{nickname}}! Hello World!</p>
        <form method="post" action="student/signout">
            <P><input type="submit" value="Logout"/></P>
        </form>
        <a href="student/config">config</a>
    {% else %}
        <p>Hello World!</p>
    {% endif %}
</body>
</html>