<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
    {% if nickname %}
        <p>{{nickname}}! Hello World!</p>
    {% else %}
        <p>Hello World!</p>
    {% endif %}

    <form method="post">
        <p><input type='submit' value='Logout'/></p>
    </form>
</body>
</html>