<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
	<image style="overflow:visible;enable-background:new    ;" width="527" height="574" xlink:href="/static/files/bon1.png"  transform="matrix(0.9744 0 0 0.9744 44.2521 18.6135)"></image>

	<rect data-id="13" data-name="진학자료실" data-description="컴퓨터를 사용할 수 있는 공간이다." x="472.2" y="291.2" class="clickable" width="34.1" height="47.7"/>
	<path data-id="8" data-name="교장실" data-description="교장 선생님이 계시는 곳이다." class="clickable" d="M329.2,442.5l-18.9,42.9c0,0,12.5,5.9,29,9.9c16.7,4,31.6,6.5,31.6,6.5l10.2-45.2c0,0-11.8-2.6-23.5-5.8
        C345.8,447.5,329.2,442.5,329.2,442.5z"/>
	<path data-id="7" data-name="서버실" data-description="아무도 들어갈 수 없다." class="clickable" d="M292.3,427l-26.7,38.5c0,0,14.2,7.9,23.6,12.1c9.3,4.3,19.9,7.3,19.9,7.3l18.7-42.7c0,0-8.7-3.3-17-6.9
		C302.5,431.7,292.3,427,292.3,427z"/>
	<path data-id="6" data-name="멀티미디어실" data-description="정보 수업을 진행하는 장소임과 동시에 위대한 동아리인 Informatica의 근거지이다." class="clickable" d="M221.1,374.9L187,408.4c0,0,11,12.6,35.1,30.4s42.1,26,42.1,26l26.7-38.6c0,0-20.3-10.6-37.2-23.4
		C236.4,389.7,221.1,374.9,221.1,374.9z"/>
	<path data-id="" data-name="" data-description="" class="clickable" d="M182.4,329.8c0,0,3.5,4.9,8,10.9c4.6,6,9.4,11.6,9.4,11.6l-38,28.8c0,0-5.3-5.9-10.1-13.1
		c-4.5-6.6-8.5-12.6-8.6-13L182.4,329.8z"/>
	<path data-id="" data-name="" data-description="" class="clickable" d="M110,294.3l43.2-17.3c0,0,3.4,9.8,12.3,25c10.3,17.7,16.1,26.8,16.1,26.8l-39.4,24.9c0,0-11.2-15.9-18.4-29.8
		S110,294.3,110,294.3z"/>
	<path data-id="" data-name="" data-description="" class="clickable" d="M98.6,261.1c0,0,1.7,8.6,4,15.1c2.3,6.8,7,16.9,7,16.9l43.1-17.4c0,0-2-3.8-5.7-13.9
		c-2.8-7.8-4.6-13.7-4.6-13.7L98.6,261.1z"/>
	<path data-id="" data-name="" data-description="" class="clickable" d="M141.8,247l-43.6,12.7c0,0-2.1-5.8-4.4-14.7c-2.4-8.9-3.1-17.2-3.1-17.2l44.8-8.9c0,0,0.3,3.7,3.2,16.1
		C140.9,244.7,141.8,247,141.8,247z"/>
	<path data-id="" data-name="" data-description="" class="clickable" d="M85.7,190.3c2.5,31,4.8,36.2,4.7,36.2l45-8.9c0,0-1.9-8.6-2.9-27.3s-0.4-31.8-0.4-31.8s-47.2-0.2-47.3-0.2
		C84.9,158.3,83.3,159.3,85.7,190.3L85.7,190.3z"/>
    <polygon data-id="" data-name="" data-description="" class="clickable" points="388.1,158.3 458.6,158.3 458.6,187.2 506.3,187.2 506.3,223.4 472.2,223.4 472.2,339 388.1,339 "/>
    <rect data-id="" data-name="" data-description="" x="460.4" y="158.3" class="clickable" width="22" height="27.6"/>
    <rect data-id="" data-name="" data-description="" x="484.3" y="158.3" class="clickable" width="22" height="27.6"/>
    <rect data-id="" data-name="" data-description="" x="473.4" y="224.8" class="clickable" width="32.9" height="65.1"/>
    <rect data-id="" data-name="" data-description="" x="388.1" y="340.3" class="clickable" width="49.1" height="39.3"/>
    <rect data-id="" data-name="" data-description="" x="457.2" y="340.3" class="clickable" width="49.1" height="39.3"/>
    <polygon data-id="" data-name="" data-description="" class="clickable" points="382.1,457.2 379.7,469.7 379.7,501.8 424.1,501.8 424.1,457.2 "/>
    <rect data-id="11" data-name="관리실" data-description="" x="472.3" y="457.2" class="clickable" width="41.3" height="18.4"/>
    <rect data-id="" data-name="" data-description="" x="388.1" y="156.3" class="clickable" width="22.5" height="29.6"/>
    <rect data-id="" data-name="" data-description="" x="411.9" y="156.3" class="clickable" width="23.3" height="29.6"/>
    <rect data-id="" data-name="" data-description="" x="436.4" y="156.3" class="clickable" width="22.7" height="29.6"/>
    <rect data-id="" data-name="" data-description="" x="387" y="246.1" class="clickable" width="36.6" height="20.7"/>
    <rect data-id="" data-name="" data-description="" x="387" y="268" class="clickable" width="36.6" height="21.9"/>
    <rect data-id="" data-name="" data-description="" x="387" y="291.1" class="clickable" width="36.6" height="21.3"/>
    <rect data-id="" data-name="" data-description="" x="387" y="313.7" class="clickable" width="36.6" height="24.9"/>
    <rect data-id="" data-name="" data-description="" x="428.6" y="241.7" class="clickable" width="37.3" height="25.6"/>
    <rect data-id="" data-name="" data-description="" x="428.6" y="268.5" class="clickable" width="37.3" height="23.6"/>
</svg>
