{% extends 'admin/layout.html' %}
{% block title %}학생 목록 - {% endblock %}

{% block contents %}
<style>
    td, th {
        border:1px solid black;
    }
</style>
<table>
    <thead>
        <tr>
            <th colspan="5">교사 목록</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>이름</td>
            <td>ID</td>
            <td>삭제</td>
        </tr>
        {% for teacher in teacher_list %}
            <tr>
                <td>{{ teacher['name'] }}</td>
                <td>{{ teacher['nickname'] }}</td>
                <td>
                    <form action="/admin/teacher/delete" method="POST" >
                        <input type="hidden" name="id" value="{{ teacher['teacher_id'] }}">
                        <input type="submit" value="삭제">
                    </form>
                </td>
            </tr>   
        {% endfor %}
    </tbody>
</table>
{% endblock %}