{% extends 'admin/layout.html' %}
{% block title %}학생 토큰 목록 - {% endblock %}

{% block contents %}
<table border=1>
    <thead>
        <tr>
            <th colspan="4">교사 토큰 목록</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>이름</td>
            <td>토큰</td>
            <td>삭제</td>
        </tr>
        {% for teacher in teacher_token_list %}
            <tr>
                <td>{{ teacher['name'] }}</td>
                <td>{{ teacher['token'] }}</td>
                <td>
                    <form action="/admin/teacher/token/delete" method="POST" >
                        <input type="hidden" name="id" value="{{ teacher['id'] }}">
                        <input type="submit" value="삭제">
                    </form>
                </td>
            </tr>   
        {% endfor %}
    </tbody>
</table>
{% endblock %}