{% extends 'layout.html' %}
{% block title %}활승 신청 - {% endblock %}
{% block css %}apply{% endblock %}
{% block contents %}
    <div>
      <h1>활승 신청란</h1>
    </div>
    <div>
      <form method="post" action="/apply">
        <div>
          <label for="req_date"> 활승 날짜 </label>
          <input type="date" name="req_date" id="req_date" />
        </div>
        <div>
          <label for="req_start_time"> 시작 시간 </label>
          <input type="time" name="req_start_time" id="req_start_time" />
        </div>
        <div>
          <label for="req_end_time"> 종료 시간 </label>
          <input type="time" name="req_end_time" id="req_end_time" />
        </div>
        <div>
          <label for="place"> 활승 장소 </label>
          <select name="place" id="place">
            <option value="1f">1층</option>
            <option value="2f">2층</option>
            <option value="3f">3층</option>
            <option value="4f">4층</option>
          </select>
          <!-- 뒤에 추가로 넣기 -->
          <select name="place" id="place">
            <option value="1f">1층</option>
            <option value="2f">2층</option>
            <option value="3f">3층</option>
            <option value="4f">4층</option>
          </select>
          <a href="javascript:ViewLayer();">열어주세요</a>
        </div>
        <div>
          <label for="reason"> 활승 사유 </label>
          <input type="text" name="reason" id="reason" />
        </div>
        <div>
          <label for="reason"> 신청할 쌤 </label>
          <select name="teacher" id="teacher">
            <option value="1">박명호T</option>
            <option value="2">오성주T</option>
            <option value="3">정리안T</option>
            <option value="4">정연기T</option>
            <option value="5">정태준T</option>
          </select>
        </div>
        <div>
          <input type="submit" id="req_button" name="button" value="신청" />
        </div>
      </form>
    </div>
    <div class="popup" id="Pop">
      <!--팝업-->
      <div class="popup_layer"> <!--팝업창-->
        <div class="text_area"><!--텍스트 영역-->
          <strong class="title">교내 평면도</strong>
          <p class="text">활승 장소를 클릭하세요</p>

          <img src="../../static/files/bon1.PNG" width="450px" height="450px">
        </div>
        <div class="btn_area"><!--버튼 영역-->
          <button type="button" name="button" class="btn">선택</button>
          <button type="button" name="button" class="btn no">취소</button>
        </div>
      </div>
      <div class="popup_dimmed"></div> <!--반투명 배경-->
    </div>
<script>
    function ViewLayer(){
//만일 Pop라는 녀석이 닫혀있다면??
if(document.getElementById("Pop").style.display=="none"){
   //열어주어라
   document.getElementById("Pop").style.display='inline'
//그렇지 않은 모든 경우라면??
}else{
   //닫아주어라
   document.getElementById("Pop").style.display='none'
}
}
</script>
{% endblock %}
