<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label for="ID" > ID </label>
                <input type="text" name="ID" id = "ID">
            </div>
            <div>
                <label for="PW" > PassWord </label>
                <input type = "password" name="password" id = "PW">
            </div>
            <div>
                <input type="submit" id="login button" name="button" value="Login">
            </div>
        </form>
    </div>
</body>
</html>