<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
        <h1>회원 가입</h1>
    </div>
    <div>
        <form method="post">
            <div>
                <label for="name" > 이름 </label>
                <input type="text" name="name" id = "name">
            </div>
            <div>
                <label for="num" > 학번 </label>
                <input type = "number" name="num" id = "num">
            </div>
            <div>
                <label for="generation" > 기수 </label>
                <input type = "number" name="generation" id = "generation">
            </div>
            <div>
                <label for="ID" > ID </label>
                <input type = "text" name="ID" id = "ID">
            </div>
            <div>
                <label for="PW" > PassWord </label>
                <input type = "password" name="password" id = "PW">
            </div>
            <div>
                <input type="submit" id="login button" name="button" value="Sign Up">
            </div>
        </form>
    </div>
</body>
</html>
