{% extends 'student/layout.html' %}
{% block title %}활승 신청 - {% endblock %}
{% block js %}apply{% endblock %}
{% block contents %}

    <div>
      <h1>활승 신청란</h1>
      <form method="post" action="/student/apply">
        <div>
          <label for="req_date"> 활승 날짜 </label>
          <input type="date" name="req_date" id="req_date" />
        </div>
        <div>
          <label for="req_start_time"> 시작 시간 </label>
          <input type="time" name="req_start_time" id="req_start_time" />
        </div>
        <div>
          <label for="req_end_time"> 종료 시간 </label>
          <input type="time" name="req_end_time" id="req_end_time" />
        </div>
        <div>
          <label for="place"> 활승 장소 </label>

          <span id="placeView"></span>
          <input type="hidden" id="place" name="place">
          <span value="열어주세요" class="place-select-button">선택</span>
        </div>
        <div>
          <label for="reason"> 활승 사유 </label>
          <input type="text" name="reason" id="reason" />
        </div>
        <div>
          <input type="submit" id="req_button" name="button" value="신청" />
        </div>
      </form>
    </div>
    <div class="popup" id="place-select-popup">
      <!--팝업-->
      <div class="popup_layer"> <!--팝업창-->
        <div class="text_area"><!--텍스트 영역-->
          <div class="floor_list">
            <button onclick="toggleImgBon1()">본관 1층</button>
            <button onclick="toggleImgBon2()">본관 2층</button>
            <button onclick="toggleImgBon3()">본관 3층</button>
            <button onclick="toggleImgBon4()">본관 4층</button>
            <button onclick="toggleImgTam123()">탐구관</button>
          </div>
          <strong class="title">교내 평면도</strong>
          <p class="text">활승 장소를 클릭하세요</p>
          
  
  <style type="text/css">
    .clickable{fill:#fcf82156;stroke:#000000;}
    .clickable:hover{fill:#fffb17}
  </style>
  {% include 'map.html' %}
<span id="nameView"></span>
<span id="descView"></span>
        </div>
        <div class="btn_area"><!--버튼 영역-->
          <span class="btn place-confirm-button">선택</span>
          <!-- <button type="button" name="button" class="btn no">취소</button> -->
        </div>
      </div>
      <div class="popup_dimmed"></div> <!--반투명 배경-->
    </div>
    
{% endblock %}
